/* Heavy inspiration from w3schools.*/
.sidebar
{
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: darkblue;
    overflow-x: hidden;

}

.sidebar a
{
    padding: 6px 7px 8px 9px;
    font-size:25px;
    color: white;
    display: block;
}